#npm
/node_modules
package-lock.json

#build
/public/build

#intelliJ
/.idea

#apollo-graphql
/apollo-graphql/node_modules
/apollo-graphql/package-lock.json

#design-system
/design-system/node_modules
/design-system/package-lock.json
/design-system/.idea
/design-system/lib/

#android-playground
/android_playground/.idea
/android_playground/.gradle
/android_playground/build/
/android_playground/local.properties
/android_playground/buildSrc/build/



